@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.row,p,span {
  font-family: 'Noto Sans KR', serif;
}

p {
  font-size:12pt;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #5e5e5e;
  background-color: white;
}

.historyList {
  margin:10px;
  font-size:12pt;
}

.historyDate {
  font-weight: 200;
  font-size:20pt;
  color:gray;
  margin-right:10px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, #tf-menu.navbar-default .navbar-nav > li > a:focus {
  color: #FF5A5A;
}

.workName{
  position: absolute; z-index:9; top:40%; font-size:12pt; margin-left:15%;
  width:12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workCover{
  position: absolute; margin-left:auto; width:90%; max-width:250px; height: 140px; opacity: 0.5; background-color:black;
}
