@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.row,p,span {
  font-family: 'Noto Sans KR', serif;
}

p {
  font-size:12pt;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #5e5e5e;
  background-color: white;
}

.historyList {
  margin:10px;
  font-size:12pt;
}

.historyDate {
   font-weight: 400;
   font-size:16pt;
   color:gray;
   margin-right:10px;
 }

#tf-menu{
  background: white;
  border-bottom: 1px solid red;
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 20px 0px 20px 0px ;
  border-radius: 0;
  max-height: 80px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, #tf-menu.navbar-default .navbar-nav > li > a:focus {
  color: #e42e3d;
  border-bottom: solid 7px red;
}

#tf-menu.navbar-default .navbar-nav > li > a {
  font-weight:500;
  color:#333;
  font-size:13pt;
}

.workName{
  position: absolute; z-index:9; top:40%; font-size:12pt; margin-left:15%;
  width:12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workCover{
  position: absolute; margin-left:auto; width:90%; max-width:250px; height: 140px; opacity: 0.5; background-color:black;
}
