@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.row,p,span {
  font-family: 'Noto Sans KR', serif;
}

p {
  font-size:12pt;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #5e5e5e;
  background-color: white;
}

.historyList {
  margin:20px;
  font-size:14pt;
}

.historyDate {
  font-weight: 200;
  font-size:20pt;
  color:gray;
  margin-right:30px;
}
